[package]
name = "py_maplib"
version = "0.8.10"
edition = "2021"

[workspace]

[dependencies]
pyo3 = {version = "0.21.1", features = ["extension-module"] }
maplib = {path="../maplib"}
triplestore = {path="../triplestore"}
representation = { git = "https://github.com/DataTreehouse/representation", tag="v0.5.3"}
shacl = {path="../shacl"}
oxrdf = {version="0.1.7"}
#pydf_io = {path = "../../pydf_io"}
pydf_io = { git = "https://github.com/DataTreehouse/pydf_io", tag="v0.7.0"}
thiserror="1.0.58"
polars = {version="0.38.3", features=["dtype-array", "dtype-categorical", "dtype-date", "dtype-datetime",
    "dtype-decimal", "dtype-duration", "dtype-i8", "dtype-i16", "dtype-struct", "dtype-time", "dtype-u8", "dtype-u16"]}
log ="0.4.21"

[lib]
name = "maplib"
crate-type = ["cdylib"]

[package.metadata.maturin]
python-source = "python"

# Conditional dependency specification of mimalloc and jemallocator copied from: https://github.com/pola-rs/polars/blob/main/py-polars/Cargo.toml
# Licence in /licensing/POLARS_LICENSE
[target.'cfg(not(target_os = "linux"))'.dependencies]
mimalloc = { version = "0.1.37", default-features = false }

[target.'cfg(target_os = "linux")'.dependencies]
jemallocator = { version = "0.5.4", features = ["disable_initial_exec_tls"] }